<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.dao.AuthorDAO">
    <select id="listByRealName">
        select
        t1.Id,t1.Code,t1.FirstType,t1.SecondType,t1.Status,t1.CreateTime,t1.ProblemDesc,t1.UserId
        t2.CustomerCode,t2.CustomerGrade,t2.OrderCode,t2.DealDesc
        from ec.after_sale t1
        inner join ec.after_sale_extend t2 on t1.Id = t2.AfterSaleId
        where t1.IsDeleted = 0
        and t2.IsDeleted = 0
        <if test="(firstType != null and firstType != '')">
            and t1.FirstType = #{firstType}
        </if>
        <if test="(secondType != null and secondType != '')">
            and t1.SecondType = #{secondType}
        </if>
        <if test="(status != null and status.size() != 0)">
            and t1.Status in
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="(code != null and code != '')">
            and t1.Code = #{code}
        </if>
        <if test="(createTimes != null and createTimes.length == 2)">
            and t1.CreateTime between #{createTimes[0],javaType=java.lang.String,jdbcType=DATETIME} and
            #{createTimes[1],javaType=java.lang.String,jdbcType=DATETIME}
        </if>
        <if test="(assignTimes != null and assignTimes.length == 2)">
            and t1.AssignedTime between #{assignTimes[0],javaType=java.lang.String,jdbcType=DATETIME} and
            #{assignTimes[1],javaType=java.lang.String,jdbcType=DATETIME}
        </if>
        <if test="(orderCode != null and orderCode != '')">
            and t1.OrderCode = #{orderCode}
        </if>
        <if test="(logisticsCode != null and logisticsCode != '')">
            and t1.LogisticsCode = #{logisticsCode}
        </if>
        <if test="(returnLogisticsCode != null and returnLogisticsCode != '')">
            and t1.ReturnLogisticsCode = #{returnLogisticsCode}
        </if>
        <if test="(userId != null and userId != '')">
            and t1.UserId = ${userId}
        </if>
        <if test="(grade != null and grade != '')">
            and t2.CustomerGrade = ${grade}
        </if>
        <if test="(customerCode != null and customerCode != '')">
            and t2.CustomerCode = #{customerCode}
        </if>
        <if test="(htOrderCode != null and htOrderCode != '')">
            and t2.HtOrderCode = #{htOrderCode}
        </if>
        <if test="(isNotCollectAfter2Hour == 1)">
            and (t2.CollectedTime is null and t1.CreateTime &lt;= date_sub(now(), interval 2 hour))
        </if>
    </select>
</mapper>